#adminmenu li.current.toplevel_page_envato-wordpress-updater .wp-menu-image img {
	opacity: 1;
	filter: alpha(opacity=100);
}
div.updated, 
div.error {
  margin-left: 0px;
}
#api-verification {
  clear: both;
  margin-bottom: 40px;
  overflow: hidden;
  width: 535px;
}
.right {
  float: right;
  margin-right: 10px;
}
.item-list {
}
  .item-list li {
    display: block;
    margin: 0 20px 40px 0;
    overflow: hidden;
    width: 535px;
  }
    .item-list li .thumbnail {
      background: #fff;
      border: 1px solid #ccc;
      float: left;
      padding: 4px;
      width: 80px;
    }
    .item-list li .item-details {
      float: right;
      width: 435px;
    }
      .item-list li .item-details h3 {
        font-size: 1.17em;
        margin-top: 0px;
        margin-bottom: 10px;
      }
      .item-list li .item-details .update-info {
        font-size: 13px;
      }